.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background-color: #f8f9fa;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  font-size: 18px;
}

.search-button {
  padding: 10px;
  width: 100%;
  max-width: 500px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-button:hover {
  background-color: #0062cc;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.search-result {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10
}